@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

@font-face{
  font-family: "Kanit";
  src:local("Kanit-Regular"),
  url('./assets/fonts/Kanit-Regular.ttf') 
}

@theme {
  --font-kanit: "Kanit", sans-serif;
}

.flowing-lines {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* ไม่ขวางการคลิก */
  overflow: hidden;
  z-index: -1;
  background: repeating-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.1) 0,
    rgba(255, 255, 255, 0.1) 2px,
    transparent 2px,
    transparent 6px
  );
  animation: flow 6s linear infinite;
}

@keyframes flow {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: 100% 0;
  }
}



